
h1{
	
}

body {
  background-color: #b0c4de;
  font-family: 'Oswald', 'Futura', sans-serif;
  margin: 0; 
  padding: 0;
}

title{
	background-color: blue;
	height: 200px;
	font-size: larger;
}

doing{
	height: 300px;
}

todo{
	height: 300px;
}
