<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>sbs product system</title>
		
		<link href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="../static/datatable/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
		<link href="../static/css/index.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="title" class="title">
			<h1 id="current-time" class="text-center">current time</h1>
		</div>
		
		<div id = "doing" class="doing">
			<h2>正在生产</h2>
			<table  id="doing-table"></table >
		</div>
		
		<div id = "todo" class="todo">
			<h2>等待生产</h2>
			<table  id="todo-table"></table >
		</div>
	</body>
	
	<script src="../static/lib/jquery-2.1.1.min.js"></script>
	<script src="../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="../static/datatable/js/jquery.dataTables.min.js"></script>
	<script src="../static/js/index.js"></script>
</html>
